.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  text-transform: uppercase;

  &___logo-image {
    display: block;
  }

  &__nav-list {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 0;

    &-item:not(:first-child) {
      margin-left: 20px;
    }
  }

  &__nav-link {
    display: flex;
    align-items: center;
    color: $main-text-color;
    text-decoration: none;
    height: 60px;

    &:hover {
      @include main-transition;

      color: $link-color;
    }
  }

  .is-active {
    color: $link-color;
    position: relative;
    display: flex;
    align-items: center;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      background-color: $link-color;
      height: 4px;
      width: 100%;
      border-radius: 8px;
    }
  }
}
