$main-bg-color: #fff;
$main-text-color: #060b35;
$second-text-color: #616070;
$card-border-color: #f3f3f3;
$link-color: #00acdc;
$hover-card-title: #34568b;
$card-width: 200px;
$catalog-padding: 50px 40px;
$catalog-gap: 46px 48px;
$star-size: 16px;
$star-gap: 4px;
